.fredoka-regular {
    font-family: "Fredoka", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    margin: 0%;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: minmax(150px, auto) 1fr;
    grid-template-rows: minmax(10vh, auto) minmax(70vh, auto) minmax(20vh, auto);
    grid-template-areas:
        "top top"
        "mid-right mid-right"
        "bot bot";
    /* border: 2px solid red; */
}

h1 {
    letter-spacing: 0.1em;
    font-weight: 600;
}

p {
    letter-spacing: 0.025em;
    line-height: 1.6;
    font-size: 1.2em;
}

a {
    display: contents;
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: top;
    text-align: center;
    padding: 0 5vw;
    /* padding-left: 5vw;
    padding-right: 5vw; */
    background-color: #3a3636;
    color: #fff;
}

.bot {
    grid-area: bot;
    background: #3a3636;
    color: #fff;
}

.btn-action {
    background-color: #ff6f00;
    color: #fff;
    font-size: large;
    font-weight: 600;
    border-radius: 25px;
    height: 50px;
    width: fit-content;
    text-align: center;
    align-content: center;
    padding: 0 50px;
    /* padding-left: 50px;
    padding-right: 50px; */
    margin-top: 50px;
    box-shadow: 3px 3px 3px gray;
}

.btn-action:hover {
    background-color: darkorange;
    font-size: 18px;
}

.btn-home {
    color: #e0e0e0;
    border-radius: 25px;
    height: 25px;
    width: fit-content;
    text-align: center;
    align-content: center;
    padding: 0 50px;
    margin-bottom: 15px;
}

.btn-home:hover {
    background-color: #e0e0e0;
    color: #3a3636;
    box-shadow: 3px 3px 3px gray;
}